html {
  font-family: 'Muli', sans-serif;
}


body {
  background:  #fff url(../images/noise-15.png);
  width: 100%;
  height: auto;
  text-align: center;
}

header {
  display: block;
  background-image: url(../images/noise-15.png);
  background-color: #778899;
  width: 100%;
  border-bottom: 1px solid grey;
  background-color: #e0e1e2;
  margin: 0 auto 10px auto;
  text-align: center;
  word-spacing: 40px;
}

 header li {
  display: inline;
  text-align: center;
  font-size: 30px;
 }

 header a {
   color: black;
   text-decoration: none;
 }

header a:hover {
  color: white;
	text-decoration: none;
}

.main_p {
  display: inline-block;
  text-align: justify;
  margin: 10px 230px 10px 230px;
  font-weight: 500;
  font-size: 20px;
}

#left {
  border: 2px solid black;
  padding: 40px;
  margin: 30px;
  height: 200px;
  width: 140px;
  display: inline-block;
}

#center {
  border: 2px solid black;
  padding: 40px;
  margin: 30px;
  height: 200px;
  width: 140px;
  display: inline-block;
}

#right {
  border: 2px solid black;
  padding: 40px;
  margin: 30px;
  height: 200px;
  width: 140px;
  display: inline-block;
}

h1 {
font-size: 40px;
  margin: 10px;
  padding: 10px;
}

p {
    margin: 10px;
    padding: 10px;
  }

h2 {
  text-align: center;
  font-size: 26px;
  font-weight: bold;
}
