html {
  font-family: 'Muli', sans-serif;
}


body {
  background:  #fff url(../images/noise-15.png);
  width: 100%;
  margin: 0 auto 0 auto;
  height: auto;
  text-align: center;
  font-size: 62.5%;
}

header {
  display: block;
  background-image: url(../images/noise-15.png);
  width: 100%;
  border-bottom: .1em solid grey;
  background-color: #e0e1e2;
  margin: 0 auto 1em auto;
  text-align: center;
  word-spacing: 3em;
}

 header li {
  display: inline;
  text-align: center;
  font-size: 3em;
 }

 header a {
   color: black;
   text-decoration: none;
 }

header a:hover {
  color: white;
	text-decoration: none;
}

.bikeimg img {
  max-width: 65%;
  height: auto;
}

.main_p {
  display: inline-block;
  text-align: justify;
  margin: 1em 14% 1em 14%;
  font-weight: 500;
  font-size: 2em;
}

#left, #center, #right {
  border: .2em solid black;
  padding: 4em;
  margin: 3em;
  height: 20em;
  width: 14em;
  display: inline-block;
}

h1 {
font-size: 4em;
  padding: 0.5em;
}


h2 {
  text-align: center;
  font-size: 2.6em;
  font-weight: bold;
}

footer {
  height: 3em;
  background-image: url(../images/noise-15.png);
  background-color: #e0e1e2;
  margin-bottom: 0;
}
